{
  "extends": "airbnb",
  "rules": {
    "max-len": [1, 180, 2, { "ignoreComments": true }],
    "jsx-quotes": ["error", "prefer-single"],
    "react/jsx-filename-extension": "off",
    "new-cap": [2, {
        "capIsNewExceptions": ["Map", "Set", "List"]
    }],
    "no-mixed-operators": "off",
    "newline-per-chained-call": "off",
    "react/no-unused-prop-types": [2, { "customValidators": [], "skipShapeProps": true }]
  }
}
