.ReactMotionSliderInput {
  position: relative;
  width: 100%;
  height: 100%;
}

.ReactMotionSliderInput-Track {
  background-color: #eeeeee;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.ReactMotionSliderInput-Track-Inner {
  background-color: #cccccc;
  position: relative;
  width: 100%;
  height: 50%;
}
.ReactMotionSliderInput-Step {
  background-color: rgba(0,0,0,0.3);
  border: none;
  width: 20px;
  height: 30px;
  text-align: center;
  cursor: pointer;
  outline: none;
  &.ReactMotionSliderInput-in-range {
    background-color: rgba(50,50,50,0.7);
  }
}
.ReactMotionSliderInput-Handle {
  background-color: rgba(0,0,0,0.7);
  border: none;
  width: 28px;
  height: 36px;
  cursor: pointer;
}
.ReactMotionSliderInput-Range {
  background-color: rgba(50,50,50,0.7);
  height: 20px;
  position: absolute;
  cursor: pointer;
  outline: none;
}

.ReactMotionSliderInput.vertical {
  .ReactMotionSliderInput-Track {
    height: 100%;
    width: 20px;
  }
  .ReactMotionSliderInput-Track-Inner {
    height: 100%;
    //width: 20px;
  }
  .ReactMotionSliderInput-Step {
    width: 30px;
    height: 20px;
  }
  .ReactMotionSliderInput-Handle {
    width: 36px;
    height: 28px;
  }
  .ReactMotionSliderInput-Range {
    background-color: #666666;
    width: 20px;
  }
}

.ReactMotionSliderInput.disabled {
  .ReactMotionSliderInput-Handle {
    background-color: rgba(0,0,0,0.3);
  }
}
