.ReactMotionSliderInput {
  //position: relative;
  width: 100%;
  height: 100%;
}

.ReactMotionSliderInput-Track {
  background-color: #cccccc;
  width: 100%;
  height: 20px;
  cursor: pointer;
}
.ReactMotionSliderInput-Step {
  background-color: rgba(0,0,0,0.3);
  border: none;
  width: 20px;
  height: 30px;
  text-align: center;
  &.ReactMotionSliderInput-in-range {
    background-color: rgba(50,50,50,0.5);
  }
}
.ReactMotionSliderInput-Handle {
  background-color: #333333;
  border: none;
  width: 28px;
  height: 36px;
  cursor: pointer;
}
.ReactMotionSliderInput-Range {
  background-color: rgba(50,50,50,0.5);
  height: 20px;
}

.ReactMotionSliderInput.vertical {
  .ReactMotionSliderInput-Track {
    height: 100%;
    width: 20px;
  }
  .ReactMotionSliderInput-Step {
    width: 30px;
    height: 20px;
  }
  .ReactMotionSliderInput-Handle {
    width: 36px;
    height: 28px;
  }
  .ReactMotionSliderInput-Range {
    background-color: #666666;
    width: 20px;
  }

}
